body {
  background-image: url("Desain\ tanpa\ judul\ \(3\).png");
  background-size: cover;
  background-attachment: fixed;
  height: 100hv;
  overflow-y: scroll;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .background-container {
      background-size: cover; /* Menyesuaikan gambar agar pas di perangkat tablet */
  }
}

@media (min-width: 1025px) {
  .background-container {
      background-size: cover; /* Menyesuaikan gambar agar pas di perangkat desktop */
  }

content {
  height: 200vh; /* Membuat konten lebih tinggi dari viewport untuk memungkinkan scrolling */
  padding: 20px;
  color: white;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Tambahkan latar belakang semi-transparan agar teks mudah dibaca */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
